body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure body takes up full viewport height */
  margin: 0; /* Remove default margin */
  color: white;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond,
    "Times New Roman", serif;
}
#time {
  font-size: 100px; /* Adjust the font size as needed */
  background-color: rgba(
    96,
    96,
    93,
    0.472
  ); /* Adjust the background color and opacity */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

h1 {
  background-color: rgba(
    96,
    96,
    93,
    0.472
  ); /* Adjust the background color and opacity */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

.quote-div {
  position: absolute;
  bottom: 5%;
  text-align: center; /* Center horizontally */
  margin: 10px;
}
#quote {
  background-color: rgba(
    96,
    96,
    93,
    0.472
  ); /* Adjust the background color and opacity */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

.pomodoro-container {
  position: fixed;
  top: 20px; /* Adjust the top position */
  right: 20px; /* Adjust the right position */
  background-color: rgba(96, 96, 93, 0.472);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#timer {
  font-size: 36px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 5px; /* Adjust padding */
  margin: 5px;
  font-size: 18px; /* Increase font size */
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond,
    "Times New Roman", serif; /* Set the same font family */
  border: none; /* Remove border */
  border-radius: 20px; /* Add border radius */
  background-color: rgba(255, 255, 255, 0.8); /* Set background color */
  color: #333; /* Set text color */
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.buttons button:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Darken background color on hover */
}
